### General ###
PidFile=/var/run/zabbix/zabbix_agentd.pid
LogFile=/var/log/zabbix/zabbix_agentd.log
LogFileSize=1
DebugLevel=3
Server={{ zabbix_agent_server }}
ServerActive={{ zabbix_agent_server }}

### Active checks related ###
HostnameItem=system.hostname
RefreshActiveChecks=120

### User parameters ###
UserParameter=custom.check,command_to_execute

### Optional ###
Timeout=30
AllowRoot=1
